<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>

<template>
  <div><b>First Component</b></div>
  <div>{{ counterStore.count }}</div>
</template>
