<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterStore = useCounterStore();
</script>

<template>
  <div><b>Second Component</b></div>
  <div>{{ counterStore.doubleCount }}</div>
</template>
